.site-nav
  span.button-toggle
    span
  include nav
  form#search-form.nav-item
    input(
      type="text"
      id="local-search-input"
      name="q"
      results="0"
      placeholder=__('search')
      class="search form-control"
      autocomplete="off"
      autocorrect="off"
      required
    )
    div#local-search-reset(onclick="resetSearch()")
  div#local-search-result
